canvas#js-annual-activities-chart
- @annual_activities.each do |activity_type, value|
  input.js-annual-activities type="hidden" activityType=activity_type value="#{value.to_json}"

input#js-target-months type="hidden" value="#{@target_months}"

script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
javascript:
  window.addEventListener('load', () => {
    const colorPalettes = [
      '#1abc9c',
      '#2ecc71',
      '#3498db',
      '#9b59b6',
      '#34495e',
      '#f1c40f',
      '#e67e22',
      '#e74c3c',
      '#ecf0f1',
      '#95a5a6'
    ]

      const activities = document.getElementsByClassName('js-annual-activities')
      const color = colorPalettes[Math.floor(Math.random() * Math.floor(colorPalettes.length))]
      let monthLabels = JSON.parse(document.getElementById("js-target-months").value)
      let datasets = []

      let i = 0
      for (let activity of activities) {
          activityType = activity.getAttribute("activityType")
          let data = []
          const parsedValue = JSON.parse(activity.value)
          for(let month of monthLabels) {
              if (parsedValue[month] == undefined) {
                  data.push(0)
              } else {
                  data.push(parsedValue[month])
              }
          }
          datasets.push({
              label: activityType,
              data: data,
              backgroundColor: colorPalettes[i % colorPalettes.length]
          })
          i++
      }

      const ctx = document.getElementById('js-annual-activities-chart').getContext('2d')
      new Chart(ctx, {
          type: 'bar',

          data: {
              labels: monthLabels,
              datasets: datasets
          },

          options: {
              title: {
                  display: true,
                  text: '1年間のアクティビティ推移',
                  fontSize: 20
              },
              scales: {
                  xAxes: [{
                      stacked: true,
                      categoryPercentage: 0.4
                  }],
                  yAxes: [{
                      stacked: true,
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      })
  }, false)
